.background {
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
  }
  
  .row {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
  }
  
  .back-to-home-btn {
    position: absolute;
    top: 20px;
    left: 100px;
    background-color: rgba(255, 255, 255, 0.3); 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 14px;
  }
  .back-to-home-btn:hover{
    transform: scale(1.1);
  }

  
  .header-view {
    font-size: 2rem;
    text-align: center;
    margin: 0;
    text-shadow: 2px 2px 5px gray;
  }
  .event-card{
    background-color: rgba(255, 255, 255, 0.1); 
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 20px;
   width: 70%;
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 20px;
}
.btn-delete{
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  position: absolute;
  bottom: 50px;
  right: 10px;
}


.event-card h2 {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
  color: white;
}

.event-card p {
  margin: 10px 0;
  font-size: 18px;
  color: white;
  text-decoration: none;

}
.btn-edit{
  background-color:  #4CAF50;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  position: absolute;
  bottom: 50px;
  right: 150px;
}

